
/********** Base styles **********/
* {
  box-sizing: border-box;
}
div {
  height:auto;
}
h1 {
  color:black;
  font-size:175%;
  text-align:center;
}
div.container {
  position:relative;
  background-color: #e2dfdc;
  border: 1px solid black;
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
  overflow:hidden;
}
p {
  font-family: Helvetica;
  color: white;
  clear: top;
  overflow:hidden;
  float:left;
  color: black;
  padding:20px;
}

.top-right {
  margin: 0px;
  padding: 0px;
  top:  0px;
  right:  0px;
  width: 90px;
  border: 1px solid black;
  text-align:center;
  position: absolute;
  font-size:125%;
}

#p1 {
  background-color:pink;
}

#p2 {
  background-color:magenta;
  color:white;
}

#p3 {
  background-color:yellow;
}
/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;    
    padding:10px;
    position:relative;
    width: 33.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
    padding:10px;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    padding:10px;
    width:100%;
  }
}


